.vscode

# backend
.venv/
*.db

images/

staticfiles/
media/

# mypy cache
.mypy_cache/

# ruff cache
.ruff_cache/

# Byte-compiled / optimized / DLL files
__pycache__/

# pytest cache
.pytest_cache/

# coverage test
.coverage

# Django
migrations/
